
@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Space+Mono:400,400i|Karla:400,400i|Rubik|Spectral:400,400i&subset=latin-ext');

body {
  padding: 4vw;
}

img {
  /*width: 100%;*/
  /*max-width: 900px;*/
  max-width: 100%;
}

.s1, .s11, .s10 {background-color: #8dd3c7; font-family: 'arial';  }
.s2, .s12 {background-color: #ffffb3; font-family: 'Rubik', sans-serif;  }
.s3, .s13 {background-color: #bebada; font-family: 'Josefin Sans', sans-serif; }
.s4, .s14 {background-color: #fb8072; font-family: 'Spectral', serif;  }
.s5, .s15 {background-color: #80b1d3; font-family: 'Space Mono', monospace; }
.s6, .s16 {background-color: #fdb462; font-family: 'Fjalla One', sans-serif;}
.s7, .s17 {background-color: #b3de69; font-family: 'Space Mono';  }
.s8, .s18 {background-color: #fccde5; font-family: 'karla', sans-serif;  }
.s9, .s19 {background-color: #d9d9d9; font-family: 'Spectral', serif;  }

span {
  font-size: 3vw;
  padding: 0.3em 0 0.3em ;
  font-weight: bold;
  margin-right: 4px;
}

p {
  margin: 0;
  font-size: 3vw;
  font-family: 'Spectral', serif; 
}

a{
  color: black;
}

.caption {
  column-count: 2;
    padding-bottom: 3em;
}

.caption p {
  padding-bottom: 1em;
}

.section {
  text-align: center;
  padding: 5em 0 5em;
}
